body {
	font-family: 'Days One', sans-serif;
	color: #663399;
	background: #000000 url('img/black_paper.png') repeat;
}

a {
	color: #625D5D; 
	text-decoration: none;
}

h1 {
	font-size: 1.70em;
	letter-spacing: -0.05em;
}

h2 {
	font-size: 1.500em;
	color: #4FB69F;
}

.btn {
	color: #4FB69F;
	background: #625D5D url('img/always_grey.png') repeat right top;
    padding: 15px 20px;
    border-radius: 25px;
    text-transform: uppercase;
}

.btn:hover {
	color: lightyellow;
}

#logo {
	text-transform: uppercase;
	font-size: 2.5em;
	margin: 0 0 -3.3%;
}

#divider {
	margin-top: -3.3%;
	border-bottom: 8px solid #4FB69F;
}

#ninjas img {
	padding-top: 23%;
}

#intro {
	margin: 1.5% 0 0 0;
}

#squirrel img {
	padding: 6.4% 3%;
	float: right;
}

#quirky img {
	border: 8px solid #4FB69F;
	margin: 0 0 0.005% 0;
}

#fun-fact img {
	border: 8px solid #4FB69F;
}

#copyright {
	border-top: 8px solid #4FB69F;
	padding: 1.2% 0;
	margin: 1.67% 0;
	text-align: center;
}
